$gri: #919191;
$acilgri: #f5f5f5;
$turuncu: #ff6000;

body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

#navbar {
  width: 1200px;
  margin: auto;
  .top-menu {
    display: flex;
    justify-content: end;
  }
  ul {
    li {
      a {
        color: $gri;
        font-size: 11px;
        font-weight: bold;
        padding-right: 0;
        padding-left: 19px;
      }
    }
  }

  .navbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      margin-right: 50px;
    }
    .input-group {
      border: 2px solid $gri;
      border-radius: 5px;
      width: 440px;
      .search {
        width: 100%;
        display: flex;
        .bi-search {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.8rem 1rem;
          font-size: 20px;
          color: $gri;
        }
      }
      .form-control {
        border: 0px;
        padding: 0;
        color: $gri;
        font-size: 14px;
        font-weight: bold;
      }
      .input-group-text {
        font-weight: bold;
        font-size: 15px;
        color: white;
        background-color: $gri;
        border-radius: 0;
        height: 100%;
      }
    }
    .dropdown {
      .location {
        display: flex;
        align-items: center;
        .bi-geo-alt {
          font-size: 25px;
          margin-right: 0.8rem;
        }
        h6 {
          font-size: 14px;
          margin: 0;
        }
        .position-down {
          display: flex;
          h6 {
            color: $turuncu;
          }
          .bi-chevron-down {
            margin-left: 1rem;
            color: $turuncu;
            font-size: 10px;
          }
        }
      }
      .login {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px $gri solid;
        border-radius: 5px;
        padding: 5px;
        width: 157px;
        height: 46px;
  
        .bi-person {
          font-size: 25px;
          color: $gri;
          margin-right: 0.8rem;
        }
        h5 {
          font-size: 14px;
          font-weight: bold;
          margin: 0;
        }
        h6 {
          font-size: 10px;
          color: $gri;
          margin: 0;
        }
        .bi-chevron-down {
          margin-left: 0.5rem;
          font-size: 20px;
          color: $gri;
          font-weight: bold;
        }
      }
      .dropdown {
        width: 157px;
        height: 48px;
        .dropdown-menu {
          li {
            h6 {
              font-size: 12px;
              font-weight: bold;
              color: $gri;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
    .basket {
      width: 136px;
      a {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        background-color: $gri;
        text-decoration: none;
        .bi-cart-fill {
          font-size: 20px;
          color: white;
          margin-right: 0.8rem;
        }
        h5 {
          color: white;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}

.menu {
  background-color: $acilgri;
  .menu-adjustment {
    width: 1240px;
    margin: auto;
    ul {
      padding: 0;
      display: flex;
      color: #646464;
      padding: 0 22px 0 22px;
      li {
        list-style: none;
        margin: auto;
        font-size: 14px;
        padding: 10px 22px;
        font-weight: bold;
      }
    }
  }
}

.navbar-colours {
  display: flex;
  margin-top: 1rem;
  .colours {
    height: 10px;
  }
  .colour-purple {
    background-color: purple;
    width: 15%;
  }
  .colour-blue {
    background-color: blue;
    width: 20%;
  }
  .colour-orangered {
    background-color: orangered;
    width: 30%;
  }
  .colour-covered-purple {
    background-color: rgb(92, 0, 92);
    width: 20%;
  }
  .colours-green {
    background-color: green;
    width: 15%;
  }
  .colour-purple {
    background-color: purple;
  }
}
