body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  overflow-x: hidden;
}

#navbar {
  width: 1200px;
  margin: auto;
}
#navbar .top-menu {
  display: flex;
  justify-content: end;
}
#navbar ul li a {
  color: #919191;
  font-size: 11px;
  font-weight: bold;
  padding-right: 0;
  padding-left: 19px;
}
#navbar .navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .navbar-bottom svg {
  margin-right: 50px;
}
#navbar .navbar-bottom .input-group {
  border: 2px solid #919191;
  border-radius: 5px;
  width: 440px;
}
#navbar .navbar-bottom .input-group .search {
  width: 100%;
  display: flex;
}
#navbar .navbar-bottom .input-group .search .bi-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  font-size: 20px;
  color: #919191;
}
#navbar .navbar-bottom .input-group .form-control {
  border: 0px;
  padding: 0;
  color: #919191;
  font-size: 14px;
  font-weight: bold;
}
#navbar .navbar-bottom .input-group .input-group-text {
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #919191;
  border-radius: 0;
  height: 100%;
}
#navbar .navbar-bottom .dropdown .location {
  display: flex;
  align-items: center;
}
#navbar .navbar-bottom .dropdown .location .bi-geo-alt {
  font-size: 25px;
  margin-right: 0.8rem;
}
#navbar .navbar-bottom .dropdown .location h6 {
  font-size: 14px;
  margin: 0;
}
#navbar .navbar-bottom .dropdown .location .position-down {
  display: flex;
}
#navbar .navbar-bottom .dropdown .location .position-down h6 {
  color: #ff6000;
}
#navbar .navbar-bottom .dropdown .location .position-down .bi-chevron-down {
  margin-left: 1rem;
  color: #ff6000;
  font-size: 10px;
}
#navbar .navbar-bottom .dropdown .login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #919191 solid;
  border-radius: 5px;
  padding: 5px;
  width: 157px;
  height: 46px;
}
#navbar .navbar-bottom .dropdown .login .bi-person {
  font-size: 25px;
  color: #919191;
  margin-right: 0.8rem;
}
#navbar .navbar-bottom .dropdown .login h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
#navbar .navbar-bottom .dropdown .login h6 {
  font-size: 10px;
  color: #919191;
  margin: 0;
}
#navbar .navbar-bottom .dropdown .login .bi-chevron-down {
  margin-left: 0.5rem;
  font-size: 20px;
  color: #919191;
  font-weight: bold;
}
#navbar .navbar-bottom .dropdown .dropdown {
  width: 157px;
  height: 48px;
}
#navbar .navbar-bottom .dropdown .dropdown .dropdown-menu li h6 {
  font-size: 12px;
  font-weight: bold;
  color: #919191;
}
#navbar .navbar-bottom .dropdown .dropdown .dropdown-menu li p {
  font-size: 10px;
}
#navbar .navbar-bottom .basket {
  width: 136px;
}
#navbar .navbar-bottom .basket a {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #919191;
  text-decoration: none;
}
#navbar .navbar-bottom .basket a .bi-cart-fill {
  font-size: 20px;
  color: white;
  margin-right: 0.8rem;
}
#navbar .navbar-bottom .basket a h5 {
  color: white;
  font-size: 16px;
  margin: 0;
}

.menu {
  min-width: 1200px;
  background-color: #f5f5f5;
}
.menu .navbar-colours {
  display: flex;
  margin-top: 1rem;
}
.menu .navbar-colours .colours {
  height: 10px;
}
.menu .navbar-colours .colour-purple {
  background-color: purple;
  width: 15%;
}
.menu .navbar-colours .colour-blue {
  background-color: blue;
  width: 20%;
}
.menu .navbar-colours .colour-orangered {
  background-color: orangered;
  width: 30%;
}
.menu .navbar-colours .colour-covered-purple {
  background-color: rgb(92, 0, 92);
  width: 20%;
}
.menu .navbar-colours .colours-green {
  background-color: green;
  width: 15%;
}
.menu .navbar-colours .colour-purple {
  background-color: purple;
}
.menu .menu-adjustment {
  width: 1240px;
  margin: auto;
}
.menu .menu-adjustment ul {
  display: flex;
  color: #646464;
  padding: 0 22px;
  margin: 0;
}
.menu .menu-adjustment ul li {
  list-style: none;
  margin: auto;
}
.menu .menu-adjustment ul li span a {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  padding: 10px 22px;
  font-weight: bold;
  height: 10px;
  margin: 20px 0;
  border-left: solid 1px rgb(224, 224, 224);
  text-decoration: none;
  color: rgb(100, 100, 100);
}

.photos {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-image: url(resimler/format_webp.jpg);
  background-position: center;
  height: 540px;
}
.photos .deneme {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
}
.photos .deneme .photos-menu {
  min-width: 1200px;
  display: flex;
  justify-content: center;
}
.photos .deneme .photos-menu ul {
  display: flex;
}
.photos .deneme .photos-menu ul .active {
  background-color: white;
}
.photos .deneme .photos-menu ul .active a {
  color: rgb(100, 100, 100);
}
.photos .deneme .photos-menu ul li {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px;
  padding: 7px 15px;
  border-radius: 20px;
  margin-top: 1rem;
}
.photos .deneme .photos-menu ul li a {
  color: white;
  text-decoration: none;
}
.photos .photos-info {
  display: flex;
  justify-content: center;
}
.photos .photos-info .special-for-you {
  display: flex;
  border: 4px solid white;
  width: 1080px;
  background-color: white;
  border-radius: 10px;
  height: 380px;
}
.photos .photos-info .special-for-you img {
  border-radius: 10px;
}
.photos .photos-info .special-for-you .special-for-you-info {
  margin: auto;
  padding: 40px;
}
.photos .photos-info .special-for-you .special-for-you-info button {
  margin-top: 4rem;
  color: white;
  background-color: #ff6000;
  border-radius: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.product {
  width: 1200px;
  margin: auto;
}
.product .product-title {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  align-items: center;
}
.product .product-title h2 {
  font-size: 30px;
  font-weight: bold;
  margin-right: 0.5rem;
}
.product .product-title a {
  text-decoration: none;
}
.product .product-title a span {
  font-size: 15px;
  font-weight: bold;
  color: #ff6000;
}
.product .product-title a .bi-chevron-right {
  font-size: 14px;
  color: #ff6000;
}
.product .products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.product .products .product-design-img {
  width: 225px;
  height: 375px;
}
.product .products .product-design-img img {
  width: 100%;
  margin: 0;
}
.product .products .product-design {
  width: 225px;
  height: 375px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
}
.product .products .product-design:hover {
  box-shadow: 0px 0px 10px rgb(216, 216, 216);
}
.product .products .product-design .add-product {
  font-weight: bold;
  color: #ff6000;
  display: none;
  background-color: rgba(255, 98, 0, 0.0666666667);
  font-weight: bold;
  font-size: 17px;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
  border: 0;
}
.product .products .product-design .add-product:hover {
  background-color: rgba(255, 98, 0, 0.137254902);
}
.product .products .product-design :hover .product-price {
  display: none;
}
.product .products .product-design :hover .add-product {
  display: block;
}
.product .products .product-design h5 {
  font-size: 12px;
}
.product .products .product-design img {
  width: 100%;
  margin-top: 1rem;
}
.product .products .product-design .product-price {
  font-size: 22px;
  font-weight: bold;
  color: #ff6000;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
}
.product .products .product-design .product-price span {
  font-size: 14px;
  margin-left: 5px;
}
.product .products .product-design .product-shape {
  text-align: center;
  padding: 2rem 1.6rem;
  width: 225px;
  height: 375px;
}
.product .product-general-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 4rem;
}
.product .product-general-title .product-general-paragraph {
  padding: 1rem;
  font-size: 17px;
}
.product .product-general-title .product-general-paragraph span {
  font-weight: bold;
}
.product .brand {
  width: 1200px;
  margin-top: 6rem;
}
.product .brand .brand-title {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.product .brand .brands-style {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1.5rem;
}
.product .brand .brands-style .brands {
  text-decoration: none;
  margin-bottom: 1rem;
}
.product .brand .brands-style .brands img {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
}
.product .brand .brands-style .brands h5 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.5rem;
  color: black;
}
.product .attention-products .attention-product-title {
  font-size: 30px;
  font-weight: bold;
}
.product .attention-products .attention-products-style {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.product .attention-products .attention-products-style .attention-product {
  margin-top: 10px;
  width: 171px;
}
.product .attention-products .attention-products-style .attention-product a {
  text-decoration: none;
}
.product .attention-products .attention-products-style .attention-product a .attention-product-img {
  width: 171px;
  height: 171px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 0.5rem;
}
.product .attention-products .attention-products-style .attention-product a img {
  height: 100%;
}
.product .attention-products .attention-products-style .attention-product a div {
  padding: 10px;
}
.product .attention-products .attention-products-style .attention-product a div p {
  text-align: center;
  color: black;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
.product .attention-products .attention-products-style .attention-product a div h6 {
  color: black;
  font-weight: bold;
}
.product .attention-products .attention-products-style .attention-product a div h6 span {
  font-size: 12px;
}

.footer-global {
  padding-top: 5rem;
  width: 1200px;
  margin: auto;
}
.footer-global .footer-upper {
  width: 100%;
}
.footer-global .footer-upper .footer-head .footer-head-links ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer-global .footer-upper .footer-head .footer-head-links ul li {
  list-style: none;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 14px;
  color: #919191;
}
.footer-global .footer-upper .footer-head .footer-head-links ul li:hover {
  color: black;
}
.footer-global .footer-upper .footer-head .footer-head-links ul .brace {
  font-size: 16px;
  color: #3b3b3b;
}
.footer-global .footer-upper .footer-head .footer-head-links ul .brace:hover {
  color: #3b3b3b;
}
.footer-global .footer-upper .footer-top .lg-1 {
  text-align: center;
  margin-top: 5rem;
}
.footer-global .footer-upper .footer-top .lg-1 a {
  text-decoration: none;
}
.footer-global .footer-upper .footer-top .lg-1 a .footer-title {
  color: #484848;
  font-weight: bold;
}
.footer-global .footer-upper .footer-top .lg-1 a .iconContent {
  border-right: solid 1px #f5f5f5;
}
.footer-global .footer-upper .footer-top .lg-1 a .iconContent svg {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer-global .footer-upper .footer-top .lg-1 a .content {
  color: black;
  font-size: 14px;
  display: block;
  padding: 1.5rem;
}
.footer-global .footer-upper .footer-seo-view .footre-br {
  border: 1px solid #f5f5f5;
}
.footer-global .footer-upper .footer-seo-view .seo-portal {
  padding: 1rem;
}
.footer-global .footer-upper .footer-seo-view .seo-portal p {
  font-family: Helvetica;
  font-size: 12px;
}
.footer-global .footer-middle {
  display: flex;
}
.footer-global .footer-middle .footer-middle-left {
  display: flex;
}
.footer-global .footer-middle .footer-middle-left section h5 {
  font-size: 14px;
  line-height: 1.2;
}
.footer-global .footer-middle .footer-middle-left section ul li {
  list-style: none;
}
.footer-global .footer-middle .footer-middle-left section ul li a {
  text-decoration: none;
  color: rgba(72, 72, 72, 0.6);
  font-size: 12px;
  font-weight: 700;
}
.footer-global .footer-middle .footer-middle-right section h5 {
  font-size: 14px;
  line-height: 1.2;
}
.footer-global .footer-middle .footer-middle-right section ul li {
  list-style: none;
}
.footer-global .footer-middle .footer-middle-right section ul li a {
  text-decoration: none;
  color: rgba(72, 72, 72, 0.6);
  font-size: 12px;
  font-weight: 700;
}
.footer-global .footer-middle .footer-middle-right section .solution-center a {
  text-decoration: none;
}
.footer-global .footer-middle .footer-middle-right section .solution-center a {
  color: rgba(72, 72, 72, 0.6);
  font-size: 12px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */