$gri: #919191;
$acilgri: #f5f5f5;
$turuncu: #ff6000;

body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  overflow-x: hidden;
}

.back-to-top {
  display: inline-block;
  position: fixed;
  right: 200px;
  bottom: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: white;
  padding-right: 1rem;
  padding-left: 1rem;

  button {
    font-weight: bold;
    font-size: 14px;
    border: 0;
    background-color: white;
    margin: 0;
    padding: 0;

  }
}

#navbar {
  width: 1200px;
  margin: auto;

  .top-menu {
    display: flex;
    justify-content: end;
  }

  ul {
    padding: 0;

    li {
      a {
        color: $gri;
        font-size: 11px;
        font-weight: bold;
        padding-right: 0;
        padding-left: 19px;
      }
    }
  }

  .navbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-right: 50px;
    }

    .input-group {
      border: 2px solid $gri;
      border-radius: 5px;
      width: 440px;

      .search {
        width: 100%;
        display: flex;

        .bi-search {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.8rem 1rem;
          font-size: 20px;
          color: $gri;
        }
      }

      .form-control {
        border: 0px;
        padding: 0;
        color: $gri;
        font-size: 14px;
        font-weight: bold;
      }

      .input-group-text {
        font-weight: bold;
        font-size: 15px;
        color: white;
        background-color: $gri;
        border-radius: 0;
        height: 100%;
      }
    }

    .dropdown {
      .location {
        display: flex;
        align-items: center;

        .bi-geo-alt {
          font-size: 25px;
          margin-right: 0.8rem;
        }

        h6 {
          font-size: 14px;
          margin: 0;
        }

        .position-down {
          display: flex;

          h6 {
            color: $turuncu;
          }

          .bi-chevron-down {
            margin-left: 1rem;
            color: $turuncu;
            font-size: 10px;
          }
        }
      }

      .login {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px $gri solid;
        border-radius: 5px;
        padding: 5px;
        width: 157px;
        height: 46px;

        .bi-person {
          font-size: 25px;
          color: $gri;
          margin-right: 0.8rem;
        }

        h5 {
          font-size: 14px;
          font-weight: bold;
          margin: 0;
        }

        h6 {
          font-size: 10px;
          color: $gri;
          margin: 0;
        }

        .bi-chevron-down {
          margin-left: 0.5rem;
          font-size: 20px;
          color: $gri;
          font-weight: bold;
        }
      }

      .dropdown {
        width: 157px;
        height: 48px;

        .dropdown-menu {
          li {
            h6 {
              font-size: 12px;
              font-weight: bold;
              color: $gri;
            }

            p {
              font-size: 10px;
            }
          }
        }
      }
    }

    .basket {
      width: 136px;

      a {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        background-color: $gri;
        text-decoration: none;

        .bi-cart-fill {
          font-size: 20px;
          color: white;
          margin-right: 0.8rem;
        }

        h5 {
          color: white;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}

.menu {
  min-width: 1200px;
  background-color: $acilgri;

  .navbar-colours {
    display: flex;
    margin-top: 1rem;

    .colours {
      height: 10px;
    }

    .colour-purple {
      background-color: purple;
      width: 15%;
    }

    .colour-blue {
      background-color: blue;
      width: 20%;
    }

    .colour-orangered {
      background-color: orangered;
      width: 30%;
    }

    .colour-covered-purple {
      background-color: rgb(92, 0, 92);
      width: 20%;
    }

    .colours-green {
      background-color: green;
      width: 15%;
    }

    .colour-purple {
      background-color: purple;
    }
  }

  .menu-adjustment {
    width: 1240px;
    margin: auto;

    ul {
      display: flex;
      color: #646464;
      padding: 0 22px;
      margin: 0;

      li {
        list-style: none;
        margin: auto;

        span {
          a {
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 14px;
            padding: 10px 22px;
            font-weight: bold;
            height: 10px;
            margin: 20px 0;
            border-left: solid 1px rgb(224, 224, 224);
            text-decoration: none;
            color: rgb(100, 100, 100);
          }
        }
      }
    }
  }
}

.photos {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-image: url(resimler/format_webp.jpg);
  background-position: center;
  height: 540px;

  .photo {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;

    .photos-menu {
      min-width: 1200px;
      display: flex;
      justify-content: center;

      ul {
        padding: 0;
        display: flex;

        .active {
          background-color: white;

          a {
            color: rgb(100, 100, 100);
          }
        }

        li {
          list-style: none;
          font-size: 14px;
          font-weight: bold;
          margin: 0 10px;
          padding: 7px 15px;
          border-radius: 20px;
          margin-top: 1rem;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  .photos-info {
    display: flex;
    justify-content: center;

    .special-for-you {
      display: flex;
      border: 4px solid white;
      width: 1080px;
      background-color: white;
      border-radius: 10px;
      height: 380px;

      img {
        border-radius: 10px;
      }

      .special-for-you-info {
        margin: auto;
        padding: 40px;

        button {
          margin-top: 4rem;
          color: white;
          background-color: #ff6000;
          border-radius: 20px;
          padding-right: 30px;
          padding-left: 30px;
        }
      }
    }
  }
}

.product {
  width: 1200px;
  margin: auto;

  .product-title {
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    align-items: center;

    h2 {
      font-size: 30px;
      font-weight: bold;
      margin-right: 0.5rem;
    }

    a {
      text-decoration: none;

      span {
        font-size: 15px;
        font-weight: bold;
        color: #ff6000;
      }

      .bi-chevron-right {
        font-size: 14px;
        color: #ff6000;
      }
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .product-design-img {
      width: 225px;
      height: 375px;

      img {
        width: 100%;
        margin: 0;
      }
    }

    .product-design {
      width: 225px;
      height: 375px;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 10px;

      &:hover {
        box-shadow: 0px 0px 10px rgb(216, 216, 216);
      }

      .add-product {
        font-weight: bold;
        color: rgb(255, 96, 0);
        display: none;
        background-color: #ff620011;
        font-weight: bold;
        font-size: 17px;
        border-radius: 10px;
        padding: 0.8rem 2rem;
        margin-top: 2rem;
        border: 0;

        &:hover {
          background-color: rgba(255, 96, 0, 0.12);

        }

      }


      :hover .product-price {
        display: none;
      }

      :hover {
        .add-product {
          display: block;
        }
      }

      h5 {
        font-size: 12px;
      }

      img {
        width: 100%;
        margin-top: 1rem;
      }

      .product-price {
        font-size: 22px;
        font-weight: bold;
        color: #ff6000;
        padding: 0.8rem 2rem;
        margin-top: 2rem;

        span {
          font-size: 14px;
          margin-left: 5px;
        }
      }

      .product-shape {
        text-align: center;
        padding: 2rem 1.6rem;
        width: 225px;
        height: 375px;
      }
    }
  }

  .product-general-title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 4rem;

    .product-general-paragraph {
      padding: 1rem;
      font-size: 17px;

      span {
        font-weight: bold;
      }
    }
  }

  .brand {
    width: 1200px;
    margin-top: 6rem;

    .brand-title {
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    .brands-style {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 1.5rem;

      .brands {
        text-decoration: none;
        margin-bottom: 1rem;

        img {
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          width: 100%;
        }

        h5 {
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          margin-top: 0.5rem;
          color: black;
        }
      }
    }
  }

  .attention-products {
    .attention-product-title {
      font-size: 30px;
      font-weight: bold;
    }

    .attention-products-style {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 1.5rem;

      .attention-product {
        margin-top: 10px;
        width: 171px;

        a {
          text-decoration: none;

          .attention-product-img {
            width: 171px;
            height: 171px;
            border-radius: 10px;
            border: 1px solid #e0e0e0;
            padding: 0.5rem;
          }

          img {
            height: 100%;
          }

          div {
            padding: 10px;

            p {
              color: black;
              font-size: 12px;
              font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto,
                Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
                sans-serif !important;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }

            h6 {
              color: rgb(72, 72, 72);
              font-weight: bold;
              line-height: 20px;
              font-size: 18px;

              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.footer-global {
  padding-top: 5rem;
  margin: auto;

  .footer-upper {
    width: 1200px;
    margin: auto;

    .footer-head {
      .footer-head-links {
        ul {
          padding: 0;
          display: flex;
          justify-content: end;
          align-items: center;

          li {
            list-style: none;
            margin-left: 1rem;
            font-weight: bold;
            font-size: 14px;
            color: #919191;

            &:hover {
              color: black;
            }
          }

          .brace {
            font-size: 16px;
            color: #3b3b3b;

            &:hover {
              color: #3b3b3b;
            }
          }
        }
      }
    }

    .footer-top {
      .lg-1 {
        text-align: center;
        margin-top: 5rem;

        a {
          text-decoration: none;

          .footer-title {
            color: #484848;
            font-weight: bold;
          }

          .iconContent {
            border-right: solid 1px $acilgri;

            svg {
              margin-top: 2rem;
              margin-bottom: 1rem;
            }
          }

          .content {
            color: black;
            font-size: 14px;
            display: block;
            padding: 1.5rem;
          }
        }
      }
    }

    .footer-seo-view {
      .footre-br {
        border: 1px solid $acilgri;
        margin-bottom: 1rem;
      }

      .seo-portal {
        padding: 1rem 0;

        p {
          font-family: Helvetica;
          font-size: 12px;

          span {
            font-weight: bold;
          }
        }
      }
    }

    .footer-middle {
      display: flex;

      .footer-middle-left {
        display: flex;
        width: 59.46844%;

        section {
          width: 33.33333%;
          margin-right: 1rem;

          h5 {
            font-size: 14px;
            line-height: 1.2;
            font-weight: bold;
          }

          ul {
            padding: 0;

            li {
              list-style: none;

              a {
                text-decoration: none;
                color: rgba(72, 72, 72, 0.6);
                font-size: 12px;
                font-weight: 700;

                &:hover {
                  color: black;
                }
              }
            }
          }
        }
      }

      .footer-middle-right {
        width: 39.20266%;
        display: flex;
        justify-content: space-between;

        section {
          width: 50%;
          margin-right: 1rem;

          h5 {
            font-size: 14px;
            line-height: 1.2;
            font-weight: bold;
          }

          ul {
            padding: 0;
            margin-top: 1rem;

            li {
              list-style: none;
              display: flex;
              align-items: center;

              a {
                text-decoration: none;
                color: rgba(72, 72, 72, 0.6);
                font-size: 12px;
                font-weight: 700;
                margin-top: 0.5rem;

                &:hover span {
                  color: black;
                }

                .bi {
                  font-size: 30px;
                  margin-right: 0.5rem;
                  color: rgba(72, 72, 72, 0.6);
                }
              }
            }
          }

        }

        .mobile-apps {
          width: 190px;
          margin-right: 1rem;

          .solution-center {
            padding-bottom: 32px;
            text-align: center;

            a {
              text-decoration: none;
            }

            .solution-title {
              font-size: 15px;
              font-weight: 700;
              text-align: center;
              padding: 0 1rem;
            }

            .solution-link {
              display: block;
              font-weight: 700;
              text-align: center;
              color: #919191;
              border: 1px solid #919191;
              font-size: 12px;
              width: 100%;
              padding: 6px 0;
              border-radius: 5px;
              margin: 1rem 0 0.5rem 0;

              &:hover {
                color: black;
              }
            }

            .solution-or {
              background-color: #e0e0e0;
              height: 2px;
              margin: 1.5rem 0 1rem 0;

              span {
                text-align: center;
                color: #919191;
                display: block;
                position: relative;
                top: -12px;
                padding: 0 1rem;
                background-color: white;
                display: inline;
              }
            }

            .solution-call-text {
              text-align: center;
              font-size: 13px;
              color: #484848;
              margin-top: 0.5rem;
            }

            .solution-center-phone {
              font-size: 24px;
              font-weight: 700;
              text-align: center;
              color: #484848;
            }

            .whatsapp-ft {
              display: block;

              .bi {
                font-size: 30px;
                margin-right: 0.5rem;
                color: white;
                background-color: rgb(0, 221, 0);
                border-radius: 50%;
              }

              span {
                color: #484848;
                font-size: 14px;
              }
            }
          }

          .app-list {
            margin: 20px 0 30px 0;

            li {
              &:hover div {
                color: black;
              }

              a {
                display: flex;
                padding-right: 2rem;
                border: 1px solid #ccc;
                border-radius: 5px;

                .bi {
                  margin: 0 10px;
                  font-size: 30px;
                }

                div {
                  margin: auto;
                  text-align: start;
                  font-size: 12px;

                  span {
                    display: block;
                    color: #ccc;
                    font-weight: normal;
                  }
                }
              }
            }
          }

          .clothing-fashion {
            li {
              display: flex;
              align-items: center;

              a {
                margin: 0 5px 0 0;
                color: rgba(72, 72, 72, 0.6);
                font-size: 12px;
                font-weight: 700;

                &:hover {
                  color: black;
                }
              }

              span {
                margin: 0 5px 0 0;
              }
            }
          }
        }
      }
    }
  }

  .footer-end-wrapper {
    background-color: #f1f1f1;

    .footer-end {
      display: flex;
      width: 1200px;
      margin: auto;

      .left {
        margin-right: 5rem;

        .top {
          margin: 2rem 0;

          div {
            a {
              img {
                height: 25px;
                margin-right: 0.5rem;
              }
            }
          }
        }

        .bottom {
          margin-bottom: 1rem;

          a {
            img {
              height: 32px;
              margin-right: 0.5rem;

            }
          }
        }
      }

      .right {
        .top {
          margin-top: 2rem;

          div {

            img {
              height: 15px;
            }

          }
        }

        .bottom {
          margin-top: 1rem;
          font-size: 12px;
          color: #333;

          span {
            color: #919191;
            display: block;
          }
        }
      }
    }
  }
}